/*debug*/
.debug{
  background-color: red;
  border: 2px solid black;
}
.margin_bottom10{
  margin-bottom: 10%;
}
/*media md and xs header*/
@media screen and (max-width: 992px) and (min-width: 768px){
  #jumbo{
    max-height: 400px;
  }
}
/*portfolio*/
.portfolio-box{
  height: 80px;
  margin: 10px;
  background-color: blue;
  border-radius: 5px;
}
/*copyright*/
.copyright{
  height: 100px;
}
