.padding_top_80 {
  padding-top: 80px;
}
.padding_bottom_80 {
  padding-bottom: 80px;
}

.wrapper_60 {
  width: 60%;
  margin: 0 auto;
}
.bg_green {
  background-color: #1abc9c;
}
.btn_green {
  background-color: #158F77;
  color: white;
  text-transform: uppercase;
}
.btn_green .glyphicon{
  vertical-align: text-top;
}
.border_redius5{
  border-radius: 5px;
}
.font_size30{
  font-size: 30px;
}
.font_size20{
  font-size: 20px;
}
.font-size65{
  font-size: 65px;
}
.color_white{
  color: white;
}
.size_30{
  width:30%;
}
.color_darkblue{
  color:#2c3e50;
}
/* header */
.header_top {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  width: 100%;
  height: 80px;
  background: #2c3e50;
  line-height: 80px;
}
.icon_star::after{
  content:"";
  display: inline-block;
  clear: both;
  vertical-align:super;
  margin-left: 10px;
  margin-top: 5px;
  width: 100%;
  max-width: 100px;
  height: 5px;
  border-bottom: 5px solid #2c3e50;
  border-radius: 4px;
}
.icon_star::before{
  content:"";
  display: inline-block;
  clear: both;
  vertical-align:super;
  margin-right: 10px;
  margin-top: 5px;
  width: 100%;
  max-width: 100px;
  height: 5px;
  border-bottom: 5px solid #2c3e50;
  border-radius: 4px;
}
.icon_star{
  display: block;
  font-size: 30px;
}
.portfolio_bg{
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
#cabin{
  background-image: url(https://blackrockdigital.github.io/startbootstrap-freelancer/img/portfolio/cabin.png);
}
#cake{
  background-image: url(https://blackrockdigital.github.io/startbootstrap-freelancer/img/portfolio/cake.png);
}
#circus{
  background-image: url(https://blackrockdigital.github.io/startbootstrap-freelancer/img/portfolio/circus.png);
}
#game{
  background-image: url(https://blackrockdigital.github.io/startbootstrap-freelancer/img/portfolio/game.png);
}
#safe{
  background-image: url(https://blackrockdigital.github.io/startbootstrap-freelancer/img/portfolio/safe.png);
}
#submarine{
  background-image: url(https://blackrockdigital.github.io/startbootstrap-freelancer/img/portfolio/submarine.png);
}

/* Jumbo */
.jumbo {
  margin-top: 80px;
  padding: 80px 0;
}
.jumbo_text {
  width: 60%;
  margin: 0 auto;
}
/* Portfolio */
.box_portfolio {
  width: 100%;
  height: 300px;
  margin-bottom: 30px;
  background-color: blue;
}



/* Footer */
.footer_top {
  background-color: blue;
}
.footer_bottom {
  padding: 20px 0;
  background-color: darkblue;
}


@media screen and (max-width: 768px) {
  .wrapper_xs_100 {
    width: 100%;
    margin: 0 auto;
  }
}
@media screen and (min-width: 768px) {
  .wrapper_md_60 {
    width: 60%;
    margin: 0 auto;
  }
}
